.container {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	z-index: 100;
	border-radius: 10px;
	background-color: #191919;
	border: 1px solid #323232;
}
