.container {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	z-index: 100;
	border-radius: 10px;
	background-color: #191919;
	border: 1px solid #323232;
}

.main {
	width: 100%;
	height: 100%;
}

.main nav {
	background-color: #202020;
	border-radius: 10px 10px 0 0;
}

.top {
	display: flex;
	justify-content: space-between;
	padding-left: 5px;
	height: 2rem;
}

.top .icon {
	padding: 0 10px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.top .icon:hover {
	background-color: #2e2e2e;
}

.top .iconClose {
	height: 100%;
	display: flex;
	align-items: center;
	border-radius: 0 10px 0 0;
	padding-right: 15px;
	padding-left: 14px;
	cursor: pointer;
}

.top .iconClose:hover {
	background-color: red;
}

.topContainer {
	display: flex;
	align-items: center;
	gap: 5px;
}

.iconContainer {
	display: flex;
	align-items: center;
	gap: 5px;
	color: #fff;
}

.terminalContainer {
	display: flex;
	margin-top: 3px;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	color: #fff;
}

.terminalContainer svg:hover {
	background-color: #2e2e2e;
	border-radius: 5px;
}

.terminalContainer div:first-child {
	height: 100%;
	display: flex;
	background-color: rgb(19 19 19);
	border-radius: 5px 5px 0 0;
	padding-right: 10px;
	padding-left: 10px;
	align-items: center;
	gap: 5px;
}

.manageButtons {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	height: 100%;
	gap: 5px;
	border-radius: 0 0 0 10px;
}
