.dropdownNav {
	display: flex;
	margin-top: 15px;
	align-items: center;
}

.dropdownNav h2 {
	font-size: 1rem;
	color: #fff;
	font-weight: 300;
	margin-right: 10px;
	white-space: nowrap;
}

.dropdownNav svg {
	font-size: 2rem;
	color: #2e2e2e;
}

.dropdownNav div {
	height: 1px;
	width: 100%;
	background-color: #2e2e2e;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
	grid-auto-rows: minmax(auto, auto);
	grid-auto-flow: dense;
	margin: 0 20px;
}

.item {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.item svg {
	color: gray;
	font-size: 0.8rem;
}

.item:hover {
	background-color: #2e2e2e;
}

.progressBar {
	height: 15px;
	width: 10rem;
	display: flex;
	background-color: #fff;
	box-shadow: inset 100px 0 0 -1px #26a0da;
}
