.container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, calc(-50% - 25px));
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	width: 55rem;
	height: 35rem;
	background-color: #191919;
	border-radius: 10px;

	transition: all 0.15s ease-in-out;
}
.container input {
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
	padding: 5px;
	background-color: transparent;
	font-size: 0.7rem;
	user-select: auto;
}
.main {
	width: 100%;
	height: 100%;

	nav {
		background-color: #202020;
		border-radius: 10px 10px 0 0;
		height: 5.2rem;
	}
}

// Top section
.top {
	display: flex;
	justify-content: space-between;
	padding-left: 5px;
	height: 2rem;

	.icon {
		padding: 0 10px 0 10px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			background-color: #2e2e2e;
		}
	}

	.iconClose {
		height: 100%;
		display: flex;
		align-items: center;
		border-radius: 0 10px 0 0;
		padding-right: 15px;
		padding-left: 14px;
		cursor: pointer;

		&:hover {
			background-color: #ff0000;
		}
	}
}
.icon:hover .manageDropdown {
	display: block !important;
}
.topContainer {
	display: flex;
	align-items: center;
	gap: 5px;
}
.iconContainer {
	display: flex;
	align-items: center;
	gap: 5px;
	color: #fff;
}

// Management section
.manage {
	display: flex;
	color: #fff;
	height: 3.2rem;
	align-items: center;
	gap: 5px;
	padding-left: 10px;
	padding-bottom: 5px;

	.icon {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		gap: 5px;
		cursor: pointer;

		&:hover {
			background-color: #2e2e2e;
		}
	}
}
.manageNew,
.manageSort,
.manageView {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
	padding-right: 10px;
}
.manageNew,
.manageView {
	border-right: 1px solid #32323285;
}
.manageSort {
	border-left: 1px solid #32323285;
	padding-left: 10px;
}
.manageActions {
	display: flex;
	gap: 5px;
	margin-left: 10px;
	margin-right: 10px;
	opacity: 0.5;

	div {
		&:hover {
			background-color: transparent !important;
			cursor: auto;
		}
	}
}
.manageMore {
	margin-left: 10px;
	.manageDropdown {
		margin-left: 80px;
	}
}
.navigate {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
	margin-bottom: 8px;
	height: 30px;
}
.navigatePath {
	display: flex;
	color: #fff;
	border: 1px solid #32323285;
	height: 100%;
	width: calc(100% - 20rem - 7rem);
	align-items: center;
	justify-content: space-between;

	input {
		color: #fff;
	}

	.left {
		padding-left: 5px;
		display: flex;
		align-items: center;
		svg {
			font-size: 0.8rem;
		}
	}
	.right {
		display: flex;
		height: 100%;
		&:first-child {
			color: gray;
			&:hover {
				background-color: transparent;
				cursor: default;
			}
		}
		div {
			display: flex;
			align-items: center;
			padding: 10px;
			&:hover {
				background-color: #2e2e2e;
				cursor: pointer;
			}
		}
	}
}
.navigateSearch {
	width: 20rem;
	display: flex;
	color: #fff;
	border: 1px solid #32323285;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	margin-left: 10px;
	padding-left: 5px;
	margin-right: 10px;

	input {
		color: gray;
	}

	svg,
	p {
		color: gray;
	}
}
.arrows {
	display: flex;
	align-items: center;
	color: gray;
	width: 7rem;
	justify-content: space-between;
	padding: 0 10px 0 10px;
}

.contentArea {
	height: calc(100% - 5.2rem - 46px);
	border-radius: 0 0 15px 15px;
	display: flex;
}
.sidebar {
	height: 100%;
	border-radius: 0 0 0 15px;
	width: 13rem;
	border-right: 2px solid #32323285;
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.content {
	width: 100%;
	border-radius: 0 0 15px 0;
}

.child {
	margin: 0 10px 0 10px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.navigationDropdown {
	display: flex;
	align-items: center;
	gap: 5px;
	margin: 0 2px 0 2px;
	border-radius: 2px;
	cursor: pointer;

	&:hover {
		background-color: #2e2e2e;
	}

	svg {
		color: gray;
		font-size: 1.6rem;
	}

	div {
		display: flex;
		gap: 5px;

		width: 100%;
		height: 100%;
		align-items: center;
	}
}
@keyframes growDown {
	0% {
		transform: scaleY(0);
	}
	80% {
		transform: scaleY(1.1);
	}
	100% {
		transform: scaleY(1);
	}
}
.navigationItem {
	display: flex;
	align-items: center;
	gap: 5px;
	margin: 0 2px 0 2px;
	border-radius: 2px;
	padding-left: 40px;
	cursor: pointer;
	padding-top: 6px;
	padding-bottom: 6px;

	&:hover {
		background-color: #2e2e2e;
	}
}

.topNav {
	display: flex;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;

	& > * {
		border-right: 1px solid #32323285;
		padding: 5px;
	}
	& > *:hover {
		background-color: #2e2e2e;
	}

	.name {
		width: 40%;
		padding-left: 10px;
	}
	.dateModified {
		width: 25%;
		padding-left: 10px;
	}
	.type {
		width: 25%;
		padding-left: 10px;
	}
	.size {
		width: 10%;
		padding-left: 10px;
	}
}

.manageDropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 1000;
	top: 73px;
	background-color: #272727e0;
	border: 1px solid #1d1d1d;
	border-radius: 10px;
	display: none;
	animation: growDown 300ms ease-in-out forwards;
	transform-origin: top center;
	margin-left: 30px;

	div {
		display: flex;
		gap: 5px;
		align-items: center;
		padding: 5px 40px 5px 10px;
		border-radius: 5px;
		margin-left: 5px;
		margin-right: 5px;
		&:hover {
			background-color: #2e2e2e;
		}
		&:first-child {
			margin-top: 5px;
		}
		&:last-child {
			margin-bottom: 5px;
		}
	}
}

.emptyFolder {
	text-align: center;
	margin-top: 5px;
}
