.container {
	height: 50px;
	background-color: #212121;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 1000;
	width: 100%;

	background-image: url('/images/darknoice.png');
	border-top: 1px solid #3f3f3f;
}
.iconContainer {
	display: flex;
	gap: 3px;
}
.icon,
.dateIcons,
.language,
.microphone {
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	transition: background-color 0.15s ease-in-out;
	gap: 5px;
}
.dateIcons {
	flex-direction: column;
	font-size: 0.65rem;
	align-items: flex-end;
}
.microphone {
	font-size: 1rem;
	color: #99ebff;
}
.dateIcons p {
	font-weight: 600;
	font-size: 0.7rem;
}
.language p {
	font-size: 0.75em;
	font-weight: 400;
}
.icon:not(:active) span {
	/* now keep red background for 1s */
	transition: all 0.1s ease-in-out;
}
.icon:hover,
.dateIcons:hover,
.language:hover,
.microphone:hover {
	background-color: #2e2e2e;
}
.icon:active span {
	transform: scale(0.8);
}

.toolbarContainer {
	position: absolute;
	right: 0;
	height: 41px;
	color: #f9f9f9;
	font-size: 1.2rem;
	display: flex;
	margin-right: 8px;
	gap: 3px;
}

.overflow {
	overflow: hidden;
	position: absolute;
	bottom: 50px;
	height: 35rem;
	width: 30rem;
	z-index: 1000;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -50px);
}
.winMenu {
	position: absolute;
	height: calc(100% - 10px);
	width: 100%;
	transition: all 0.4s ease-in-out;
}
.winMenuContainer {
	z-index: 2;
	border-radius: 15px;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 20px;
}
.winMenuBg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url('/images/darknoice.png');
	border-radius: 15px;
	opacity: 0.9;
	border: 1px solid rgba(128, 128, 128, 0.275);
}
.winMenuSearch {
	input[type='text'] {
		width: 100%;
		border-radius: 4px;
		margin: 8px 0;
		outline: none;
		padding: 8px;
		background-color: #1a1a1a;
		box-sizing: border-box;
		padding-left: 40px;
		color: #c6c6c6;

		border: 1px solid rgba(128, 128, 128, 0.172);
		border-bottom: 2px solid #4cc2ff;
	}
	.inputWithIcon {
		position: relative;
		color: #c6c6c6;
	}
	.inputWithIcon svg {
		position: absolute;
		left: 0;
		top: 8px;
		padding: 8px;
		padding-bottom: 5px;
		font-size: 2rem;
	}
}
.winMenuPinned {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 100px);
}
.winMenuPinnedTop {
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	p {
		font-size: 0.6rem;
	}
	h2 {
		color: #fff;
		font-size: 1rem;
	}
	div:nth-child(2) {
		height: 25px;
		font-size: 0.8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		color: white;
		padding: 0px 10px 0px 10px;
		background-color: #353636;
		border-radius: 5px;
	}
}

.winMenuRecommendedBottom {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}

.winMenuRecommendedItem {
	width: 100%;
	display: flex;
	gap: 5px;
	div {
		width: 50%;
		display: flex;
		align-items: center;
		gap: 5px;
		border-radius: 5px;
		padding: 8px 10px 8px 10px;
		&:hover {
			background-color: #2e2e2e;
		}
	}
}

.winMenuPinnedBottom {
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 5px;

	div {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3px;
		flex-direction: column;
		border-radius: 5px;
		height: 80px;
		width: 80px;
	}
	div:hover {
		background-color: #353636;
	}
}

.winMenuFooter {
	z-index: 1;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.15);
	border-top: 1px solid rgba(128, 128, 128, 0.275);
	padding: 10px;
	border-radius: 0 0 15px 15px;
	width: 100%;
	font-size: 1.2rem;
	color: #fff;
	p {
		font-size: 0.8rem;
	}
	div {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}
	img {
		border-radius: 50%;
	}
}
