.errorContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	z-index: 20;
	background-color: #f0f0f0;
	border: 1px solid rgba(128, 128, 128, 0.535);
	border-radius: 10px;
	padding: 10px;

	width: 25rem;

	p {
		color: black;
	}
}

.errorTop {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	div:first-child {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	div:nth-child(2) {
		display: flex;
		align-items: center;
		padding: 3px 8px 3px 8px;

		&:hover {
			background-color: #ff0000;
		}
	}
}
.errorContent {
	background-color: #ffffff;
	border: 1px solid rgba(128, 128, 128, 0.57);
	padding: 10px;
	margin-bottom: 5px;
	display: flex;
	gap: 10px;
}

.errorBottom {
	display: flex;
	justify-content: flex-end;

	button {
		border: 2px solid #207ec8;
		padding-left: 30px;
		padding-right: 30px;
	}
}
