* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

	/* Unselect */
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
	  Introduced in Internet Explorer 10.
	  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;

	scrollbar-color: #9f9f9f #2c2c2c;
	scrollbar-width: thin;
}

p {
	color: #fff;
	font-size: 0.7rem;
}

textarea::-webkit-scrollbar {
	width: 1em;
}

textarea::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}
