.container {
	height: 100%;
}
.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	grid-gap: 5px;
	padding: 5px;
	width: 100%;
}
.item {
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 5px 0 5px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;

	p {
		color: white;
		font-size: 0.7rem;
	}

	&:hover {
		background-color: #2e2e2e;
	}
}
.selected {
	background-color: #2e2e2e;
}
